<h1>Welcome to Balance!</h1>

<p>Balance is a web application which helps you to have control over your 
incomes and outgoings. You can add a short description for each record, and
you can know how you are spending your money and how much you have left.</p>
